table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
}

table tr {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  padding: 0.35em;
}

table th,
table td {
  padding: 0.625em;
  text-align: center;
}

table th {
  font-size: 0.85em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

@media screen and (max-width: $boring-table-breakpoint) {
  table {
    border: 0;
  }

  table caption {
    font-size: 1.3em;
  }

  table tr {
    border-bottom: 3px solid #ddd;
    margin-bottom: 0.625em;
  }

  table td {
    border-bottom: 1px solid #ddd;
    font-size: 0.8em;
  }

  table td::before {
    font-weight: bold;
    text-transform: uppercase;
  }

  table td:last-child {
    border-bottom: 0;
  }
}
